/* $Id: timecert.css,v 1.2 2009/05/20 00:42:33 arto Exp $ */

iframe.timecert {
  margin: 10px 0 0 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
